.home-container {
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.home-container img {
    height: 240px;
    border-radius: 50%;
}

.home-container a {
    background-color: #cf1b1b;
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding: 18px 40px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.home-container a:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.home-socials {
    display: flex;
    flex-direction: column;
}

.profile-name {
    color: #cf1b1b;
}

h1 {
    font-size: 3.5rem;
}

.home-socials svg {
    height: 36px;
}

.home-socials a:hover svg path,
.home-socials a:hover rect,
.home-socials a:hover circle {
    fill: #cf1b1b;
}

@media screen and (min-width: 768px) {
    .home-container {
        align-self: flex-end;
    }

    .home-socials {
        align-self: flex-end;
        padding-bottom: 2.5rem;
        flex-direction: row;
        gap: 12px;
    }
}