.body-container {}

.home-section {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    max-width: 1024px;
}

.about-section {
    
}

.section-title{
    position: relative;
    color: #cf1b1b;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3rem;
    background-color: #cf1b1b;
}

@media screen and (min-width: 768px) {
    .about-section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
}