.header-container {
    background-color: var(--header-bg-color);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: var(--z-fixed);
    box-shadow: rgba(146, 161, 176, 0.15) 0px 1px 4px;
    display: flex;
    align-items: center;
    height: 72px;
}

.header-container img {
    height: 60px;
    margin-left: 12rem;
    margin-right: auto;
}

.header-container img.dark {
    filter: invert(87%) sepia(55%) saturate(6910%) hue-rotate(180deg) brightness(106%) contrast(148%);
}

.dark-mode-icon {
    background-color: black;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s linear;
    position: relative;
    margin-right: 48px;
}

.dark-mode-icon svg {
    position: absolute;
    left: -24px;
    height: 48px;
    z-index: 10;
}