.header-container {
    background-color: var(--header-bg-color);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    box-shadow: 0 10px 100px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    height: 72px;
}

.header-container img {
    height: 60px;
    margin-right: auto;
}

.header-container img.dark {
    filter: invert(87%) sepia(55%) saturate(6910%) hue-rotate(180deg) brightness(106%) contrast(148%);
}

.dark-mode-icon {
    background-color: var(--dark-icon-bg-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s linear;
    position: relative;
    margin-right: 48px;
}

.dark-mode-icon svg {
    position: absolute;
    left: -24px;
    height: 48px;
    z-index: 10;
}

@media screen and (min-width: 768px) {
    .header-container img {
        margin-left: 12rem;
    }
}

@media screen and (max-width: 420px){
    .dark-mode-icon {
        background-color: transparent;
    }
    .dark-mode-icon svg{
        height: 38px;
    }
}