.about-container{
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    flex-wrap: wrap;
}

.about-container img{
    height: 400px;
    width: 300px;
    border-radius: 8px;
}

.about-detail{
    max-width: 500px;
    font-size: 1.2rem;
    font-weight: 300;
}