#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: hidden !important;
    z-index: 0;
    max-width: 960px;
}

#tsparticles canvas {
    width: 100% !important;
    height: 100% !important;
}